<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.plexapp.plugins.soap4me</string>
	<key>PlexFrameworkVersion</key>
	<string>2</string>
	<key>PlexPluginClass</key>
	<string>Content</string>
	<key>PlexClientPlatforms</key>
	<string>*</string>
	<key>PlexMediaContainer</key>
	<array>
		<string>MP4</string>
	</array>
	<key>PlexAudioCodec</key>
	<array>
		<string>ACC</string>
	</array>
	<key>PlexVideoCodec</key>
	<array>
		<string>H264</string>
	</array>
</dict>
</plist>
